/* Achievements section */

#achievements {
    background: url('../img/mainBackground.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
    #achievements > .container {
        background-color: rgba(0,0,0,0.5);
    }
        #achievements > .container > .row{
            display: inline-block;
            float: left;
            margin-top: 50px;
            /* margin-bottom: 50px; */
        }
#achievements > .container > .row > .one-ach{
    display: inline-block;
    float: left;
    margin-bottom: 80px;
}
#achievements > .container > .row > .one-ach > .fa {
    color: var(--main-color);
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
}
#achievements > .container > .row > .one-ach > .count {
    color: var(--secondary-color);
    font-size: 25px;
    padding-bottom: 10px;
    font-style: italic;
}
#achievements > .container > .row > .one-ach > .text {
    color: var(--main-color-anti);
    color: var(--fifth-color);
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}