/* MENU bar */
header > .container{
    padding: 0;
}
#hdr{
    display: inline-block;
    position: fixed;
    float: left;
    top: 0;
    z-index: 1;
    /* background-color: black; */
}
    #hdr .logo{
        display: inline-block;
        float:left;
        /* width: 160px; */
        padding: 5px 20px;
    }
        #hdr .logo > img {
           width: 100%;
        }

    #hdr > div:last-child{
        margin-top: 5px;
    }
    #hdr nav{
        display: inline-block;
        float: right;
        /* height: 100%; */
        /* width: calc(100% - 160px); */
        margin: 15px 0;
    }
    #hdr nav a{
        margin: 0 10px;
        width: 50px;
        line-height: 20px; 
        text-decoration: none;
        color: var(--fourth-color-anti); 
        transition: all 0.5s; 
    }
        #hdr nav a:first-child{
            color: var(--main-color);
        }
        #hdr nav a:hover{
            color: var(--main-color);
        }
        

