/* MENU bar */
header { 
    background-color: var(--fourth-color);
    /* border: solid 1px red; */
    position: fixed;
}
#hdr {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
    #hdr > .logo {
        display: inline-block;
        float:left;
        width: 165px;
        padding: 5px 20px;
        margin: 0;
    }
        #hdr > .logo > img {
            height: 50px;
        }
    #hdr > nav{
        display: inline-block;
        float: right;
        width: 500px;
        margin-top: 20px;
    }
    #hdr > nav > a{
        margin: 0 10px;
        line-height: 20px; 
        text-decoration: none;
        color: var(--fourth-color-anti); 
        transition: all 0.5s; 
    }
        #hdr > nav > a:first-child{
            color: var(--main-color);
        }
        #hdr > nav > a:hover{
            color: var(--main-color);
        }

