/* Portfolio section */

#portfolio .sorting{
    display: inline-block;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
    #portfolio .sorting > div{
        display: inline-block;
        float: left;
        width: 54px;
        text-align: center;
        position: relative;
        /* padding: 0px 10px 15px; */
        margin: 0 10px;
        text-transform: capitalize;
        color: var(--fifth-color);
    }
        #portfolio .sorting > div:hover{
            color: var(--main-color);
            transition: 0.3s;
            cursor: pointer;
        }
        #portfolio .sorting > div:hover:after{
            content: '';
            background-color: var(--main-color);
            height: 4px;
            width: 4px;
            border-radius: 50px;
            position: absolute;
            top: 20px;
            right: 25px;
        }


#portfolio .all-pictures {
    display: inline-block;
    float: left;
}
    #portfolio .all-pictures .picture{
        display: inline-block;
        float: left;
        height: 300px;
        width: calc( (100% - 18px) / 3);
        margin: 3px;

        background-position: center;
        background-size: cover;
        border-radius: 20px;
        overflow: hidden;
    }
        #portfolio .all-pictures .picture:last-child,
        #portfolio .all-pictures .picture:first-child{
            width: calc( (100% - 9px) / 3 * 2);
        }

        @media(max-width: 1100px){
            #portfolio .all-pictures .picture,
            #portfolio .all-pictures .picture:last-child,
            #portfolio .all-pictures .picture:first-child{
                width: calc( (100% - 12px) / 2);
            }
        }
    #portfolio .all-pictures .picture > .content {
        background-color: #e9ecef;
        opacity: 0.1;
        height: 280px;
        width: calc(100% - 20px);
        color: var(--secondary-color-text);
        margin: 10px;
        border-radius: 20px;
        animation: fadeIn;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;

    }           
                #portfolio .all-pictures .picture .content.hiddden{
                    display: none;
                }
                #portfolio .all-pictures .picture:hover .hiddden{
                    display: inline-block; 
                }

                @keyframes fadeIn{
                    from{ opacity: 0;}
                    to{ opacity: 0.7;}
                }

        #portfolio .all-pictures .picture > .content > .title {
            display: inline-block;
            width: 100%;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 20px;
            color: black;
            margin-top: 100px;
        }
        #portfolio .all-pictures .picture > .content > .icons {
            display: inline-block;
            width: 100%;
            margin-top: 40px;
        }
        #portfolio .all-pictures .picture > .content > .icons > a {
            display: inline-block;
            margin: 20px;
            color: var(--main-color);
            text-align: center;
            text-decoration: none;
            font-size: 25px;
        }
            #portfolio .all-pictures .picture > .content > .icons > a:hover {
                display: inline-block;
                color: var(--text-area-lables);
                transition: 0.3s;
                cursor: pointer;
            }