/* Skills section */

#skills .progress-bar {
    display: inline-block;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
    #skills .progress-bar > .texts{
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 20px;
        color: var(--main-color-anti);
    }
        #skills .progress-bar > .texts > .title{
            display: inline-block;
            float: left;
        }
        #skills .progress-bar > .texts > .value{
            display: inline-block;
            float: right;           
        }
    #skills .progress-bar > .bar{
        display: inline-block;
        float: left;
        position: relative;
        width: 100%;
        height: 8px;
        border-radius: 4px;
        background-color: var(--third-color);
        overflow: hidden;
    }
    #skills .progress-bar > .bar > .value{
        display: inline-block;
        float: left;
        width: 80%;
        height: inherit;
        border-radius: inherit;
    }
    @keyframes loading{
        0% {width: 0%;}
        100% {width: 100%;}
    }
    #skills .progress-bar > .bar > .value > .loading{
        display: inline-block;
        float: left;
        /* position: absolute; */
        height: inherit;
        width: 100%;
        border-radius: inherit;
        background-color: var(--main-color);
        animation-name: loading;
        animation-duration: 2s;
        animation-delay: 0.5s;
        animation-iteration-count: 1;
        
    }

    
    @media ( max-width: 900px ) {
        #skills > .softskills + .hardskills{
            margin-top: 30px;
        }