/* colors */
:root{
    --main-color: #9c27b0;
    --main-color-trans:#9c27b080;
    --main-color-anti: #484848;
    --secondary-color: #f4f5f8;
    --secondary-color-anti: #484848;
    --third-color: #ffffff;
    --third-color-anti: #484848;
    --fourth-color: #010004;
    --fourth-color-anti: #ffffff;
    --fifth-color: #9e9e9e;
    --text-area-lables: #e9ecef;
    --icon-fill: #2E353E;
    --gold: #D6B161;
